
        @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Playfair+Display+SC&family=Source+Sans+Pro&display=swap');
       /*Paleta de colores https://colorhunt.co/palette/b1b2ffaac4ffd2daffeef1ff */
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background-color: var(--color-fondo-principal);
            
            overflow-x: hidden;
        }
        header{
            background-image:url("../imagenes/preguntados2.png");
            background-color:var(--color-encabezado);
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            width: 100vw;
            height: 280px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items:flex-start;
            justify-content: center;
            
        }
        header h1{
            font-size: 5em;
            text-transform: uppercase;
            background-size: cover;
            color: #EEF1FF;
            letter-spacing: 45px;
            text-shadow: 0.1em 0.1em 0.2em black;
            font-family: 'Alegreya', serif;
 
        }
        nav,.contenido, .encabezadoMateria, .panelResultados{
            font-family: var(--fuente-principal);
        }
        nav,
        .materias{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        nav{
            background-color:var(--color-navegador);
            justify-content:flex-end;
            /* gap: 10px; */
            position: relative;
            min-width: 540px;
            color:var(--color-letraNav);
            height: 45px;
            font-size: 1.3em;
            /* padding-right: 30px; */
            border-top: 5px solid var(--color-letraNav);
            
           
            
        }
        .materias{
           background-color: (177,178,255);
           cursor: pointer;
           height: 100%;
           padding: 20px;
          
        }
        .materias:hover{
            background-color: var(--color-letraNav);
            color: white;
            /* border: 2px solid #6e70f6; */
            /* border-radius: 80%; */
        }
        .persiste{
            background-color: var(--color-letraNav);
            color: white;
            /* border: 2px solid #6e70f6; */
            /* border-radius: 10%; */
        }
        
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            gap: 15px;
           
            
       
        }
        .encabezadoMateria{
            
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 80%;
            gap: 10px;
            font-size: 1.6em;
            border-bottom: 6px solid #6e70f6;
        }
        @keyframes imagenAnimada {
            
        }
        .encabezadoMateria :first-child{
            height: 50px;
            
        }
        section .contenido{
            width: 80%;
            padding-bottom: 20px;
 
        }
        article{
            display: flex;
            flex-direction: column;
            gap: 15px;
            flex-wrap: wrap;
            background-color: var(--color-fondo-panel);
            margin: 16px;
            padding: 20px;
            min-width: 540px;
            box-shadow: 8px 7px 9px 0px rgba(115,108,115,1);
            border-radius: 18px 18px 18px 18px;
            
        }
        .encabezadoPregunta h3{
            display: inline;
            
        }
        
       article strong{
            background-color: #6e70f6;
            color: white;
            padding: 7px;
            font-size: 1.3em;
        } 
        .opcion label {
            font-size: 1.1em;
            user-select: none;
            cursor: pointer;
            display: block;
            width: 100%;
   
        }
        .opcion{
            display: flex;
            flex-direction: row;
            gap: 8px;
            padding: 5px;
            margin: 10px;
            background-color:var(--color-navegador);
        }
        .opcion:hover{
            background-color: var(--color-bordes);
        }
        /* .opcion:checked+label{
            background-color: var(--color-bordes);
        } */
        input[type="radio"]:checked+label{
            background-color: var(--color-bordes);
        }


        button{
            padding: 10px;
            font-size: 1.2em;
            margin-bottom: 30px;
            background-color:var(--color-navegador);
            color: var(--color-bordes);
            border: 1px solid var(--color-bordes);
            text-transform: uppercase;
            cursor: pointer;

        }
        button:hover{
            background-color: var(--color-fondo-panel);
        }

         .encabezadoPregunta span{
            background-color: #6e70f6;
            color: white;
            padding: 7px;
            font-size: 1.3em;
        }
        span{
            box-sizing: border-box;
            background-color: #6e70f6;
            font-weight: 100;
            color: white;
            padding: 8px;
            /* margin-left: 15px; */
            text-transform:capitalize;
            position: relative;
        
        }
        span::after{
           
            position: absolute;
            content: "";
            border-top: 8px solid  #3034ff;
            border-bottom: 10px solid rgba(255, 0, 0, 0);
            border-left: 10px solid rgba(83, 70, 70, 0);
            border-right: 10px solid rgba(193, 44, 176, 0);
            transform: rotate(38deg);
            top: 4px;
            right: 2px;
        }
        span::before{
            position: absolute;
            content: "";
            border-top: 10px solid  #3033ff00;
            border-bottom: 10px solid rgba(255, 0, 0, 0);
            border-left: 8px solid var(--color-fondo-panel);
            border-right: 10px solid rgba(193, 44, 176, 0);
            transform: rotate(-50deg);
            top: -11px;
            right: -9px;
        }


        .ocultaNav{
            width: 100vw;
            height: 325px; /* La suma del encabezado 280 y el nav 45 */
            position: relative;
            margin-top: -325px;
            display: none; /* display block para que se pare*/
        }
       
       
        
        /*!!!!!!!!!!!!!!!!!!!!*/
        
        .panelBienvenido{
            min-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            background-color:var(--color-navegador);
            /* border: 8px solid var(--color-bordes); */
            color: var(--color-bordes);
            text-shadow: 0.1em 0.1em 0.05em black;
            width: 30%;
            height: 200px;
            text-align: center;
            gap: 20px;
            padding-top: 20px;
            box-shadow: 15px 15px 12px 0px rgba(0,0,0,0.75);
        }
        .panelBienvenido img{
            height: 120px;
            padding: 20px;
            
        }
        section div:first-child h3{
            font-size: 1.1em;
            margin-left: 10px;
            margin-right: 10px;
        }
        .imagenesAdicionales{
            width: 30%;

            display: flex;
            flex-direction: row;
            /* flex-wrap:wrap ; */
            gap: 30px;
            align-items: flex-start;
            justify-content: center;
            
        } 
        
        .imagenesAdicionales > img{
            height: 60px;
            position: relative;
            z-index: 1;
            top:25px;
            
        }
       
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Parte de correccion */

/*Le doy posicionamiento para que me saqe los resultados del flujo estandar y me lo suba arriba de la pagina*/
        .clonado{
            position: relative;
            top:300px;
        }
        .imagenMateriaCorrecion{
            filter: grayscale(80%);
        }
       
        .cuerpoCorrecion{
            width: 80%;
            display: flex;
            flex-direction: column;

           
        }
        .cuerpoCorrecion article{
            display: inline-block;
            position: relative;
            top: 300px;
        }

        .encabezadoPreguntaCorreccion{
            display: flex;
            flex-direction:row ;
            /* flex-wrap: wrap; */
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 15px;
           
        }

        .encabezadoPreguntaCorreccion h3{
            color: grey;
            display: inline;
            background-color: var(--color-fondo-panel);
            min-width: 540px;
        }
        .encabezadoPreguntaCorreccion strong{
            background-color: grey;
            position: relative;
            height: 35px;
        }
        .encabezadoPreguntaCorreccion strong::after{
            content: "";
            position:absolute;
            border-top: 13px solid grey;
            border-bottom: 13px solid transparent;
            border-right: 13px solid transparent;
            border-left: 13px solid transparent;
            top: 35px;
            right:-1px;
        }
        .encabezadoPreguntaCorreccion span{
            height: 40px;
            width: 50px;
        }


         div.resultados {
            display: flex;
            position: relative;
     
            align-items: center;
            justify-content: center;
        
        }
        /* article .h3Correcion {
            display: flex;
            flex-direction: column;
            gap: 15px;
            flex-wrap: wrap;
            background-color: var(--color-fondo-panel);
            margin: 15px;
            padding: 20px;
            min-width: 540px;
            
        } */
     
        /* .contenedora{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            
        }
        .contenedora section{
            width: 100%;
            margin-left: 180px;
        }  */
        .nuevoIntento{
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            gap: 20px;
            top: 350px;
        }
        .cuerpoCorrecion input{
            display: none;
        }

        .cuerpoCorrecion .opcion{
            background-color: var(--color-hoverNav);
            position: relative;
        }
        .cuerpoCorrecion .opcion :nth-child(1){
            list-style: none;
        }
   
        i{
            position: absolute;
            right: 10px;
            bottom: 1px;
           
            font-size: 1.7em;

        }
        .fa-check{

            color: green;
        }
        .fa-xmark{
            color: red;
        }
       .cuerpoCorrecion span{
        display: flex;
        justify-content: center;
        align-items: center;
       }
       .resultadoNotas{
        
        width: 50%;
        height: 260px;
        background-image: url(../imagenes/portada.jpg);
        background-repeat: no-repeat;
        /* background-position: center; */
        background-size: cover;
        /* background-color: var(--color-navegador); */
        border-radius: 7%;
        position: absolute;
        
       }
       .resultadoNotas div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        height: 260px;
        border-radius: 7%;
        background-color: rgba(214, 214, 214, 0.405);
        backdrop-filter: blur(3px);
        text-shadow: 0.1em 0.1em 0.2em black;
        

       }
       .resultadoNotas h2{
        font-size: 2.2em;
        font-family: var(--fuente-principal);
        color: white;
        letter-spacing: 15px;
       }
       .resultadoNotas p{
        font-size: 1.7em;
        color: white;
        text-transform: capitalize;
       }